$color-fondo: #f2f2f2;
$color-texto: #333;
$color-texto-blanco: #fff;
$color-enlace: #007bff;
$color-hover-enlace: #0056b3;

$font-family: 'Arial, sans-serif';

$ancho-maximo: 1800px;

$font-size-normal: 16px;
$font-size-pequeno: 14px;
$font-size-grande: 24px;

$espaciado-elementos: 10px;
$espaciado-filas: 20px